
* {
    margin: 0;
    padding: 0;
    border: 0; 
}
body {
    background-color: #282a36;
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1)
}
header div{
    text-align: center;
}
header .links{
    width: 300px;
    margin: 0 auto;
}
.logo img{
    width: 90px;
    height: 88px;
    position: relative;
    float:left;
    margin-top: -30px;
    background: rgba(255, 255, 255, 0.027);
    border-radius: 10px;
}
.logo img:hover{
    background:scroll ;
}
header div a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px ;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    
}
header div a:hover{
    color:#50fa7b;
    transition: 200ms;
}

#imgPcs{
   text-align: center;
   margin-top: 50px; 
   color: white;
}
#imgPcs img{
    border-radius: 10px 100px ;
    border: 5px solid rgba(0, 0, 0, 0.1);
    opacity: 0.5;   
}


#imgPcs h1{
    color:#ffffff;
    /*text-shadow: white 1px 1px 2px ;*/
    font-size: 40px;
    margin-bottom: 32px;
    opacity: 0.8;
    font-family: 'EB Garamond', serif;
    font-weight: lighter;
}
#imgPcs p{
    max-width: 500px;
    line-height:35px;
    font-size: 20px;
    text-align:center;
    line-height: 30px;
    margin: 0px auto;
    font-family: 'Libre Caslon Display', serif;
    opacity: 0.8;
}

#imgPcs img:hover{
    /*border-color:#50fa7b;*/
    opacity: 1;
    transition: 300ms; 
}
.contact{
    text-align: center;
    background: rgba(255, 255, 255, 0.027);
    width: 300px;
    margin: 0 auto;
    border-radius:50%;
    margin-top:15px;
    
}

.icons_contact img{
    width: 60px;
    margin: 0 15px;
}

/*=== CONTAINER IMAGES === */
.cards {
    margin: 0 auto;
    max-width: 800px;
    
    color:white;
    font-family: "Source Sans Pro",sans-serif;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:30px;
    
}

.card {
    background-color: #7159c1;
    border:1px solid rgb(10, 0, 0);
}
.card:hover{
    border:1px solid rgba(153, 0, 255, 0.637);
    transition:200ms;
}
.card_image-container img {
    width: 100%;

}
.card_content {
    padding: 24px;
}
.card_info {
    display: grid;
    grid-template-columns:  1fr;
    padding: 10px;
}
.card_price {
    background-color: #7159c1;
    filter: brightness(90%);
    padding: 2px 20px;
    border-radius: 20px;
    text-align: center;
    border:1px solid #5960c167;
    font-size: 17px;
    line-height: 25px;


}
/*===MODAL===*/
.modal_overlay {
    background-color:rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    opacity: 0;
    visibility: hidden;
}
.modal {
    background-color: #bad9e4fc;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}
.modal .close-modal {
    color: black;
    position:absolute;
    right:8px;
    top: 8px;
    cursor: pointer;

}
/*===MODAL active===*/
.modal_overlay.active{
    opacity: 1;
    visibility: visible;
}


.grid-modal{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1%;
    width: 70%;
    height: 70%;
    gap: 1%;

    
}
.modal-content img{
    
    width: 90%;
    height: 90%;
    
    

}


