
* {
    margin: 0;
    padding: 0;
    border: 0; 
}
body {
    background-color: #282a36;
}
header {
    padding: 32px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1)
}
header div{
    text-align: center;
}
header .links{
    width: 300px;
    margin: 0 auto;
}
.logo img{
    width: 90px;
    height: 88px;
    position: relative;
    float:left;
    margin-top: -30px;
    background: rgba(255, 255, 255, 0.027);
    border-radius: 10px;
}
.logo img:hover{
    background:scroll ;
}
header div a {
    color: white;
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px ;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    
}
header div a:hover{
    color:#50fa7b;
    transition: 200ms;
}

#imgPcs{
   text-align: center;
   margin-top: 50px; 
   color: white;
}
#imgPcs img{
    border-radius: 10px 100px ;
    border: 5px solid rgba(0, 0, 0, 0.1);
    opacity: 0.5;   
}

#imgPcs h1{
    color:#50fa7b;
    text-shadow: white 1px 1px 2px ;
    font-size: 40px;
    margin-bottom: 32px;
    opacity: 0.8;
    font-family: 'EB Garamond', serif;
    font-weight: lighter;
}
#imgPcs p{
    max-width: 500px;
    line-height:35px;
    font-size: 20px;
    text-align:center;
    line-height: 30px;
    margin: 0px auto;
    font-family: 'Libre Caslon Display', serif;
    opacity: 0.8;
}

#imgPcs img:hover{
    /*border-color:#50fa7b;*/
    opacity: 1;
    transition: 300ms; 
}
.contato{
    text-align: center;
    background: rgba(255, 255, 255, 0.027);
    width: 300px;
    margin: 0 auto;
    border-radius:50%;
    margin-top:15px;
    
}

.icones_contato img{
    width: 60px;
    margin: 0 15px;
}
